NAs.m
Trabalho - SEP I_2023.2_R00.xlsx
Diagrama de sequencia positiva.asc
Parte 1/script_principal_old.m
tensao_prefalta.txt
Parte 1/ANAFAS_NA1_SEM_DEFASAGEM_OLD.ANA
Parte 1/ANAFAS_NA1_SEM_DEFASAGEM_OLD.lst
Parte 1/script_principal_old2.m
*.mat
Parte 1/diary
Parte 1/diary
Parte 1/Valores.txt
Parte 1/script_principal_impedancias.m
Valores.txt
Parte 1/Valores.txt
Parte 1/Valores.txt
